---
import "./tools.css";
const { header, datTool, trendingTool, forecastingTool } = Astro.props;
---

<section class="section-tools">
    <div class="header-block">
        <h2 class="tools-title">{header.title}</h2>
        <p class="tools-subtitle subtitle">{header.subtitle}</p>
    </div>
    <div class="tools-block">
        <div class="dat-tool">
            <div class="page-inner">
                <div class="feature-visual">
                    <img src={datTool.image} alt={datTool.title} class="main-image" />
                
                </div>
            
                <div class="feature-info">
                    <h3 class="h3">{datTool.title}</h3>
                    <p class="body-m">{datTool.description}</p>
                    <a class="btn btn-tertiary button-l" href="#" role="button">Learn More</a>
                    <div class="feature-tip">
                        <div class="tip-content">
                            <img src="/mtm-website-1/icons/tooltip-arrow.svg" alt="" class="tip-chevron" />
                            <p class="body-s">{datTool.tipText}
                            </p>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="trend-tool">
            <div class="page-inner">
                <div class="feature-info">
                    <h3 class="h3">{trendingTool.title}</h3>
                    <p class="body-m">{trendingTool.description}</p>
                    <a class="btn btn-tertiary button-l" href="#" role="button">Learn More</a>
                    <div class="feature-tip">
                        <div class="tip-content">
    
                            <p class="body-s">{trendingTool.tipText}
                            </p>
                            <img src="/mtm-website-1/icons/tooltip-arrow.svg" alt="" class="tip-chevron" />
                    </div>
                </div>
                </div>

                <div class="feature-visual">
                    <img src={trendingTool.image} alt={trendingTool.title} class="main-image" />
                
                </div>
            
                
            </div>
        </div>
      

    </div>
</section>