---
// src/components/home/WhyUs/WhyUs.astro
const { heading, description, panelPositions, content } = Astro.props;

// 2. STYLES: Import the local CSS
import './why-us.css';

---

<section class="why-us">
  <div class="why-us-inner">
    <div class="why-us-stage" data-whyus-scene={JSON.stringify(panelPositions)}>
      
      <div class="why-us-image">
        <img src={content.mainImage} alt="" class="why-us-image-img" />
      </div>

      <div class="why-us-text panel-top">
        <h2 class="h2">{heading}</h2>
        <p class="subtitle body-m">{description}</p>
      </div>


      
      <div class="why-us-content-block panel-left">
        <span class="subtitle h5">{content.problemTitle}</span>
        {content.problems.map(p => (
          <div class="content-row">
            <span class="body-l">{p.text}</span>
            <img src={p.icon} alt="" class="content-icon" />
          </div>
        ))}
      </div>

      <div class="why-us-content-block panel-right">
        <span class="subtitle h5">{content.solutionTitle}</span>
        {content.solutions.map(s => (
          <div class="content-row">
            <img src={s.icon} alt="" class="content-icon" />
            <span class="body-l">{s.text}</span>
          </div>
        ))}
      </div>
      
    </div>
  </div>
</section>

<script src="./scroll-whyus.js"></script>